body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

.container {
  height: 100vh;
}

.swal2-container {
  .custom-popup {
    width: max-content;
    max-width: 50%;
    padding: 8px 24px 16px;
    border-radius: 16px;
    background-color: #4a0c0cd9;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    .container {
      display: none;
    }
  }
}
